h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.5rem;
}

.h1,
.h2,
.h3 {
  margin: 0 0 0.5rem;
  font-weight: 700;
  line-height: 1.25em;
}

p,
.p {
  margin: 0 0 1rem;
  font-size: 1rem;
  font-weight: 100;
}

#menu-toggler {
  display: none;
}

.nav ul {
  margin: 0;
  padding: 10px 0;
  list-style-type: none;
}

#menu-toggler:checked + .header .nav {
  display: block;
}

.screen-reader-text,
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.screen-reader-text:focus {
  display: block;
  top: 5px;
  left: 5px;
  z-index: 100000;
  height: auto;
  width: auto;
  clip: auto !important;
  padding: 15px 23px 14px;
  line-height: normal;
  text-decoration: none;
  color: #000;
  background-color: #fff;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
}

fieldset {
  border: 0;
  padding: 0;
}

legend {
  padding: 0;
}

.custom-radio {
  display: block;
}

.custom-radio:before,
.custom-checkbox:before,
.switch:before {
  /* Unset previous styles */
  content: none;
}

.custom-radio-label,
.custom-checkbox-label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.custom-radio-label:before,
.custom-checkbox-label:before {
  content: "";
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
  border: 2px solid var(--grey);
  transition: all 0.15s ease;
}

.custom-radio-label:before {
  border-radius: 50%;
}

input:checked + .custom-radio-label:before,
input:checked + .custom-checkbox-label:before {
  background: var(--highlight);
}

.switch-control {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--grey);
  transition: all 0.3s ease;
}

input:checked + .switch-control {
  left: 100%;
  transform: translateX(-100%);
  background: var(--highlight);
}

input:focus + .custom-radio-label:before,
input:focus + .custom-checkbox-label:before,
input:focus + .switch-control {
  outline-style: auto;
  outline-color: -webkit-focus-ring-color;
  outline-color: invert;
}

.js-hidden {
  display: none;
}

.no-js .js-hidden {
  display: block;
}
