.nav {
  display: unset;
  top: -100vh;
}

.nav.open {
  top: 100%;
}

.screen-reader-text {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.screen-reader-text:focus {
  display: block;
  top: 5px;
  left: 5px;
  z-index: 100000;
  height: auto;
  width: auto;
  clip: auto !important;
  padding: 15px 23px 14px;
  line-height: normal;
  text-decoration: none;
  color: #000;
  background-color: #fff;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
}
